*{
    
    margin:0;
    padding:0;
  box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
} 
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.flexible {
    display: flex;
}

.half-widtho {
    width: 50%;
    
}

.half-widths {
    width: 60%;
}

.pos {
    padding-left: 10%;
    padding-top: 20%;
}
p{
    font-size: 15px;
}
.link-button
{
    color: #FFFFFF;
    font-weight: 600;
    font-size:20px;
    height: 60px;
    border:0;
    padding: 18px 35px;
    background-color:#F15B22;
    border-radius: 5px;
    

}
.container{
    display: flex;
    justify-content: center;
    
}
.header{

    background-image: url(banner/banner1.png);
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-text{
    position: absolute;
    left:58%;
    top:25%;
    text-align: right;
    font-size: 5px;
    padding-right: 5px;
    margin: 0%;
    
}
.my-plans{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}
.mind-set{
    padding: 50px;
	background: linear-gradient(to left, rgba(231, 122, 79, 0.1),rgba(222, 93, 42, 0.8)),url('watch.png')top left/cover no-repeat;
	border-radius: 5px;

}

.gradient-container{
    padding: 40px 130px 90px 130px;
    margin-top: 24px;
}
.second-button{
    color: #F15B22;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 35px;
    margin: 30px;
}
button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #bonus-container {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }
  form {
    padding: 37.5px;
    margin: 50px 0;
    color: #FFFFFF;
  }
 
  
  h2 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .icon-wrapper {
    margin: 20px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      float: right;
      width: 45%;
  }
  input[type='text'], [type='email'], select, textarea {
	background: none;
     border: none;
	border-bottom: solid 2px;
	font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
}

.name {
	float: left;
	width: 45%;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
     width: 100%;
}
footer{
    margin-top: 20px;
    background: black;
}
.footer{
    display: flex;
    margin: 0px 150px;
}
.footer-txt-area{
    color: #FFFFFF;
    margin-top: 10%;
}
.footer-txt-area p{
    margin-top: 5px;
}
.email-area{
    margin: 20px 0;
}
.footer-icon img{
    margin-right: 4px;
    margin-top: 15px;
}
.footer-subscribe-area{
    margin-left: 200px;
    color: #FFFFFF;
}
