*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.flexible {
    display: flex;
}

.half-widtho {
    width: 50%;
    
}

.half-widths {
    width: 60%;
}

.pos {
    padding-left: 10%;
    padding-top: 20%;
}
p{
    font-size: 15px;
}
.link-button
{
    color: #FFFFFF;
    font-weight: 600;
    font-size:20px;
    height: 60px;
    border:0;
    padding: 18px 35px;
    background-color:#F15B22;
    border-radius: 5px;
    

}
.container{
    display: flex;
    justify-content: center;
    
}
.header{

    background-image: url(banner/banner1.png);
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-text{
    position: absolute;
    left:58%;
    top:25%;
    text-align: right;
    font-size: 5px;
    padding-right: 5px;
    margin: 0%;
    
}
.my-plans{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}
.mind-set{
    padding: 50px;
	background: linear-gradient(to left, rgba(231, 122, 79, 0.1),rgba(222, 93, 42, 0.8)),url('watch.png')top left/cover no-repeat;
	border-radius: 5px;

}

.gradient-container{
    padding: 40px 130px 90px 130px;
    margin-top: 24px;
}
.second-button{
    color: #F15B22;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 35px;
    margin: 30px;
}